apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://charts.external-secrets.io
    chart: external-secrets
    targetRevision: 0.9.11
    helm:
      parameters:
        - name: installCRDs
          value: "true"
      values: |
        serviceAccount:
          create: false
          name: sa

  destination:
    server: https://kubernetes.default.svc
    namespace: eso

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
