apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: strimzi-cluster-operator
rules:
  # Kubernetes version detection
  - nonResourceURLs:
      - /version
    verbs:
      - get

  # Read cluster nodes
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - get
      - list

  # CRD access
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch