apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: image-compressor-secret
  namespace: imagecompressor
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: image-compressor-secret
    creationPolicy: Owner
  data:
    - secretKey: REDIS_PASSWORD
      remoteRef:
        key: redis-password
