name: Docker Build & Push
description: Build and push Docker image

inputs:
  service:
    required: true
  context:
    required: true
  docker-username:
    required: true
  docker-token:
    required: true

outputs:
  image:
    description: Full image reference
    value: ${{ steps.build.outputs.image }}

runs:
  using: composite
  steps:
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker registry
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ inputs.docker-username }}
        password: ${{ inputs.docker-token }}

    - name: Build and publish docker image
      id: build
      shell: bash
      run: |
        IMAGE=${{ inputs.docker-username }}/${{ inputs.service }}:${{ github.sha }}

        docker buildx build --platform linux/amd64,linux/arm64 -t $IMAGE -f docker/${{ inputs.service }}.dockerfile ${{ inputs.context }} --push
        echo "image=$IMAGE" >> $GITHUB_OUTPUT
