name: Update Kubernetes Deployment
description: Update k8s image and commit manifest

inputs:
  service:
    required: true
  image:
    required: true

runs:
  using: composite
  steps:
    - name: Pull latest changes
      shell: bash
      run: |
        git pull --rebase origin ${{ github.ref_name }}
    - name: Update deployment image
      shell: bash
      run: |
        yq -i '
          (select(.kind == "Deployment") | .spec.template.spec.containers[0].image) = "${{ inputs.image }}"
        ' infra/k8s/apps/${{ inputs.service }}/deployment.yaml

    - name: Commit and push manifest
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "ci: bump ${{ inputs.service}} version"
        file_pattern: infra/k8s/apps/${{ inputs.service }}/deployment.yaml
        push_options: 
