apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: redis
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/zhunismp/imagep-backend.git
    targetRevision: master
    path: k8s/infrastructure/redis

  destination:
    server: https://kubernetes.default.svc
    namespace: redis

  syncPolicy:
    automated:
      prune: true
      selfHeal: true