apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-apis-deployment
  namespace: imageapis
  labels:
    app: image-apis-deployment
spec:
  selector:
    matchLabels:
      app: image-apis-pod
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: image-apis-pod
    spec:
      serviceAccountName: sa
      containers:
        - name: image-apis
          image: zhunismp/image-compressor:91f866d91649950f29406643c6449e0f33210ea4
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: image-apis-config
            - secretRef:
                name: image-apis-secret
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 100Mi
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 10
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: image-apis-svc
  namespace: imageapis
spec:
  selector:
    app: image-apis-pod
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
  template:
    spec:
      containers:
        - image: zhunismp/image-compressor:91f866d91649950f29406643c6449e0f33210ea4
