name: image-apis CI

on:
  push:
    branches: [ master ]
    paths:
      - 'services/image-apis/**'
      - 'internal/**'

jobs:
  build-and-publish-docker:
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.builder.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - name: Build and publish docker
        id: builder
        uses: ./.github/actions/docker/build-and-publish
        with:
          docker-username: ${{ vars.DOCKER_USERNAME }}
          docker-token: ${{ secrets.DOCKER_TOKEN }}
          service: image-apis
          context: .
  
  update-deployment-image:
    needs: build-and-publish-docker
    uses: ./.github/actions/k8s/update-deployment
    with:
      service: image-apis
      image: ${{ needs.build-and-publish-docker.outputs.image }}
